.header {
  background-image: linear-gradient(
    to right,
    #000000 50%,
    var(--primary-collor) 50%
  );
}

.nav {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  gap: 15px;
  background-image: linear-gradient(
    to right,
    black 50%,
    var(--primary-collor) 50%
  );

}

.nav-container,
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  gap: 60px;
}
.list-item .item-link {
  font-family: "Orbitron-400";
  font-size: 16px;
  line-height: 26px;
  color: white;
}
.nav-btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
#dark-light {
  cursor: pointer;
}
.dark-light {
  border: none;
}
.dark-light img {
  border: none;
}
.btn-contact {
  width: 178px;
  height: 62px;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  cursor: pointer;
}
.btn-contact:hover {
  background: #57b8ff;
}


/* nav end */

/* home styles begim */

.home-container {
  display: flex;
  padding: 250px 0;
}
.home-text {
  width: 50%;
}
.home-sup-title {
  display: flex;
  align-items: center;
  color: #57b8ff;
  font-size: 16px;
  gap: 5px;
  font-family: "Orbitron-500";
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 15px;
}

.home-sub-title {
  display: flex;
  width: 615px;
  flex-direction: column;
  flex-shrink: 0;
  margin: 45px 0;

  color: #999;
  font-size: 18px;
  font-family: "Orbitron-500";
  line-height: 28px;
}

.home-title {
  font-family: "Orbitron-600";
  font-size: 72px;
  line-height: 86px;
  text-transform: capitalize;
  color: #fff;
}
.home-btns button {
  width: 203px;
  height: 70px;

  background: transparent;
  border: none;

  color: #fff;
  font-size: 18px;
  font-family: "Orbitron-600";
  line-height: 28px;
  text-transform: capitalize;
  transition: 0.3s;
}
.home-btns button:hover {
  background: #57b8ff;
}

.home-images {
  width: 50%;
}
.nav-color-section-1 {
  background: var(--secondary-color);
}
.nav-color-section-2 {
  background: rgba(91, 91, 91, 0.5);
  backdrop-filter: blur(10px);
}

/* nav {
  padding: 30px 0;
  border: 1px solid red;
} */

.navbar-shrink {
  padding: 20px 0;

}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-collor);
  transition: 0.5s;
}
#navbar-close {
  position: absolute;
  top: 25px;
  right: 0px;
  transform: scale(1.2);
}
#navbar-open {
  display: none;
}
