.latest-news {
  padding-top: 120px;
  background: #000;
  color: white;
}
.news-heading {

}
.news-items {

  display: flex;
  flex-wrap: wrap;
}
.game-box1 {
  flex: 1;

}
.game-box1 .news-item {
  width: 648px;
  height: 702px;
  border: 4px solid black;
}

.game-box2 {
  flex: 1;

  flex-wrap: wrap;
}
.game-box2 .news-item {
  width: 312px;
  height: 321px;
  display: inline-block;
  border: 4px solid black;
}

.news-title {
  width: 541px;
  height: 74px;
  top: 44.390625px;

  font-family: "Orbitron-400";
  font-size: 64px;
  color: #ffffff;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}
